# Databricks
.databricks/
*.dbc

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# MLflow
mlruns/
mlartifacts/

# Dados (não versionar datasets)
data/
*.csv
*.zip
*.parquet

# IDEs
.vscode/
.idea/
*.DS_Store

# Tokens e credenciais (NUNCA versionar)
*.token
secrets.py
config_local.py